<header>
    <div class="top-section">
        <div class="container-fluid px-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="logo">
                        <a href="#">
                            <img src="../../assets/images/logo.png" alt="">
                        </a>
                        <span class="px-2">|</span>
                        <div class="genesis">
                            Genesis
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="user-setting">
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="../../assets/images/question-frame.png" alt="">
                                    Help
                                </a>
                            </li>
                            <li>
                                <div class="nav-author">
                                    <div class="btn-group">
                                        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <div class="user-setting-wrap" (click)="logout()">
                                                <div class="user-icon">
                                                    <img src="../../assets/images/my-brand-frame.png" alt="">
                                                </div>
                                                <div class="user-name">
                                                    <h6>Sanjeev Athani</h6>
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-menu *ngIf="router.url != '/createproject'"></app-menu>
</header>