
<!-- Before changing anything in common component , please consult with either team lead or appropriate person -->
<table class="table">
    <thead class="table-light">
        <tr>
            <th scope="col" class="py-3 text-nowrap" *ngFor="let header of headers">{{ header }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows">
            <td *ngFor="let header of headers">
                <ng-container *ngIf="header === 'Tags'">
                    <app-tag-display [Tags]="row[header]" [modalHeader]="row['DataSet Name']"></app-tag-display>
                </ng-container>
                <!-- this is for normal row -->
                <ng-container *ngIf="header !== 'Tags'">
                    {{ row[header] }}
                </ng-container>
            </td>
        </tr>
    </tbody>
</table>