.s-card-header{
    display: flex;
    justify-content: space-between;
}

.upload-box {
    text-align: center;
    background-color: #f8f9fa;
    border: 2px dashed #ced4da;
    border-radius: 4px;
    padding: 20px;
  }
  