.pagination {
    margin: 20px 0;
  }
  
  .page-item.disabled .page-link {
    pointer-events: none;
    // opacity: 0.5;
  }
  .page-item.active .page-link {
    background-color: #007bc0;
  }
  
  .page-link {
    cursor: pointer;
  }
  