@import '../../../assets/css/variables';
.modal-em-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  backdrop-filter: contrast(0.35) !important;
  overflow: hidden;
  .modal-em-content {
    max-width: 630px;
    padding: 3em;
    background: $white;
    box-shadow: $list-shadow;
    max-height: calc(100% - 85px);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100%;
    min-width: 250px;
    .view-content {
      height: calc(100% - 20px);
      font-size: 1em;
      font-family: 'bosch-Medium';
    }
    header {
      font-size: 1.5em;
      color: $black;
      font-weight: 600;
      // height: 2.5vw;
      i {
        float: right;
        font-size: 2vw;
        cursor: pointer;
      }
    }
  }
}
button {
  padding: 10px;
  font-size: 1em;
  font-family: 'bosch-Regular';
  cursor: pointer;
  // font-weight: 300 !important;
  //font: normal normal normal 1vw/1.25rem "bosch-Regular" !important;
  letter-spacing: 0px;

  i {
    font-size: 1.5vw;
    vertical-align: middle;

    &.left-icon {
      margin-right: 5px;
    }

    &.right-icon {
      margin-left: 5px;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.space {
  margin: 0;
}

.primary {
  border: 1.5px solid $primary-blue;
  background: $primary-blue;
  color: $white;
  cursor: pointer;
  height: 2.5vw;
}

.secondary {
  border: 1.5px solid $primary-blue;
  background: none;
  color: $primary-blue;
  cursor: pointer;
  height: 2.5vw;
}

.secondary-lt {
  border: 1.5px solid $border-grey-color;
  background: $white;
  color: $black;
  cursor: default;
}

.no-border {
  border: 0 solid transparent;
}

@-moz-document url-prefix() {
  .modal-em-container {
    background: rgba(255, 255, 255, 0.8);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:-ms-fullscreen,
:root .modal-em-container {
  background: rgba(255, 255, 255, 0.8);
}

@media (max-width: 768px) {
  .modal-em-content {
    font-size: 3vw !important;
    padding: 2em;
    max-width: 70%;
    min-width: auto;
    width: 90%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  header {
    font-size: 1.2em;
    height: auto;
  }

  header i {
    font-size: 4.5vw !important;
  }

  .view-content {
    font-size: 0.9em;
  }

  button {
    font-size: 0.9em;
  }

  button i {
    font-size: 1.2vw;
  }

  .primary,
  .secondary {
    height: 40px;
    font-size: 0.9em;
  }
}