<div class="dropdown-parent" [ngClass]="disabled ? 'disabled-class-dropdown' : ''">
    <ng-multiselect-dropdown
        [placeholder]="placeHolder"
        [settings]="dropdownSettings"
        [data]="dropdownList"
        [(ngModel)]="selectedItems"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        (onDeSelect)="onDeSelect($event)"
        (onDeSelectAll)="onDeSelectAll($event)"
        [disabled]="disabled"
    >
    </ng-multiselect-dropdown>
</div>