
@import '../../../assets/css/variables';

.dropdown-parent {
    display: block;
    height: auto;
  }
  
  .multiselect-container {
    max-height: 200px;   
    overflow-y: auto;    
  }
  
.multiselect {
    width: 100%;         
    max-height: 40px;    
    overflow: hidden;    
  }


  ::ng-deep .selected-item{
    display: flex;
  }

  ::ng-deep .selected-item span {
    white-space: nowrap !important;          
    overflow: hidden !important;             
    text-overflow: ellipsis !important;     
    max-width: 20ch !important;            
    display: inline-block !important;      
  }

  ::ng-deep .multiselect-dropdown .dropdown-btn{
    background-color: #f0f0f0 ;
    border-radius: 0px !important;
    border: unset !important;
    border-bottom: 1px solid #ccc !important;
    height: 42px ;
    padding: 0% !important;
  }
  ::ng-deep .dropdown-btn{
    padding: 0%;
  }
  ::ng-deep .dropdown-btn span{
    // opacity: 52%;
    padding-left: 8px;
  }
  ::ng-deep .dropdown-btn .selected-item-container{
    padding: 8px;
  }


  ::ng-deep .selected-item-container a {
    /* Hide the default X text */
    color: transparent !important;
    padding-left: 0 !important;
    position: relative !important;
  }
  
  ::ng-deep .selected-item-container a::before {
    content: '\e118'; 
    font-family: "Bosch-Icon" !important;
    font-size: 14px;
    color: white; 
    position: absolute;
    top: 0;
    left: 0;
  }