<div class="right-content">
    <div class="top-right-search">
      <div class="page-heading">
        {{ content.heading }}
      </div>
      <div class="search-bar">
        <input type="text" class="search-input">
        <button class="btn-search">
            <i class="boschicon-bosch-ic-core-data"></i>

        </button>
      </div>
      <button class="btn-main" (click)="funcOpenCreateCustomModal()">
        <i class="boschicon-bosch-ic-core-data"></i>
        Create Custom {{content.title}}
      </button>
    </div>
    <div class="custom-source-box pt-3">
      <div class="row gx-0 m-0">
        <div class="col-md-4 pb-3 pe-3" *ngFor="let item of content.data">
          <div class="source-card border-1px-solid-black p-3">
            <div class="s-card-header mb-3">
              <div class="s-card-title">
                <h6 class="m-0 fz-16px fw-bold text-nowrap">{{ item.title }}</h6>
              </div>
              <div class="s-card-action">
                <ul>
                  <li>
                    <i class="boschicon-bosch-ic-edit"></i>
                      <!-- <img width="16" src="../../../assets/edit-icon.svg"> -->
                  </li>
                  <li>
                    <i class="boschicon-bosch-ic-delete"></i>

                      <!-- <img width="16" src="../../../assets/delete-icon.svg"> -->
                  </li>
                </ul>
              </div>
            </div>
            <div class="s-card-body">
              <p>{{ item.description }}</p>
              <div class="s-card-labels">
                <ul class="overflow-hidden">
                  <li class="text-nowrap" *ngFor="let label of item.labels">{{ label }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Custom Source Modal -->

<app-modal *ngIf="openCreateCustomModal" [(view)]="openCreateCustomModal" [header]="'Create Custom Source'"
  [styles]="{ width: '60vw' }">
    <div class="modal-body">
      <form>
        <div class="row gx-0 m-0">
          <div class="col mb-3 pe-3">
            <app-input [label]="'Enter Name'" [(value)]="createCustom.name" ></app-input>
            
          </div>
          <div class=" col mb-3">
            <app-input [label]="'Inherited From'" [(value)]="createCustom.inherited_from" ></app-input>
          </div>
        </div>
        
        <div class="mb-3">
          <app-textarea [label]="'Description'" [placeHolder]="'Enter Description'" [(value)]="createCustom.description" ></app-textarea>
        </div>
        <hr>
        <div class="mb-3">
          <label for="uploadFile" class="form-label">Upload Edited Custom Source in Python File</label>
          <a href="#" class="float-end">Download .py Template File</a>
          <app-file-upload [(fileName)]="createCustom.file_name"></app-file-upload>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-between">
      <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-primary">Open Template in Jupyter Editor</button> -->
      <app-button [class]="'secondary justify-content-center'"  [width]="'200px'" [fontSize]="'16px'">
        Cancel</app-button>
        <app-button [class]="'primary justify-content-center'" [fontSize]="'16px'">
          Open Template in Jupyter Editor</app-button>
    </div>
  </app-modal>

  