<div class="w-100 h-100 modal-phantom" *ngIf="view"
    [ngClass]="{'changePassword':changePassword , 'installationDevice': installationDevice , 'isMobileView': isMobileView}"
    [ngStyle]="{ 'z-index' : zIndex }">
    <div class="p-3 modal-content-phantom" [ngStyle]="styles">
        <header class="defaultHeader text-nowrap"><span [ngStyle]="{color: headerColor}">{{header}}</span>
            <i class="boschicon-bosch-ic-close closeIcon" (click)="close()"></i>
        </header>
        <div class="view">
            <ng-content></ng-content>
        </div>
    </div>
</div>