<div class="body-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="flex-shrink-0 bg-white">
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1" *ngFor="let componentType of objectKeys(components)">
                            <button class="btn btn-primary btn-toggle align-items-center rounded collapsed" (click)="toggleClass($event)" data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#' + componentType + '-collapse'" aria-expanded="false" [attr.aria-controls]="'#' + componentType + '-collapse'">
                                {{componentType.toLocaleUpperCase() }}<span class="caret"></span>
                            </button>
                            <div class="collapse" id="{{componentType}}---collapse" >
                                {{ components[componentType] }}
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small list-group">
                                    <li *ngFor="let elem of components[componentType]" class="list-group-item">
                                        <a href="javascript:void(0)" class="link-dark rounded" class="drag-drawflow" draggable="true" (dragstart)="drag($event)" [attr.data-name]="elem.asset_name" [attr.data-id]="elem.asset_id" [attr.data-type]="componentType">{{ elem.asset_name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-drawflow">
                <div id="drawflow" class="drawflow" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>
                <div class="row button-container-right">
                    <div class="col d-flex justify-content-end mt-3">
                        <div class="me-2">
                            <app-button (klick)="runPipeline()"> Run Pipeline </app-button>
                        </div>
                        
                        <div>
                            <app-button (klick)="export()"> Save </app-button>
                        </div>
                    </div>
                </div>
                <div class="row button-container-left">
                    <div class="col d-flex justify-content-end mt-3">
                        <div class="me-2">
                            <app-button (klick)="backToProjectList()" [class]="'secondary bg-white'"> Cancel </app-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal *ngIf="1==1" [(view)]="showModal" [header]="'Set Module Properties'"
  [styles]="{ 'width': '50%', height : '500px', position: 'relative'}" [allowClose]="false">
    <hr/>
    <div class="row nodeProperties">
        <div *ngFor="let field of objectKeys(selectedItemAdditionalProperties)" class="col-md-6 mt-3">
          <ng-container [ngSwitch]="selectedItemAdditionalProperties[field].type">
    
            <!-- Input Box for String/Int -->
            <div *ngSwitchCase="'string'" >
                <app-input
                    [label]="selectedItemAdditionalProperties[field].placeHolder"
                    [value]="activeNodeDataDetails[selectedItemAdditionalProperties[field].keyToUseToStoreValue]"
                    (valueChange)="storeAdditionalProperty($event,selectedItemAdditionalProperties[field].keyToUseToStoreValue)"
                    ></app-input>
            </div>
    
            <!-- Dropdown Box -->
            <div *ngSwitchCase="'dropdown'">
                <app-select-dropdown
                    [dropdownList] = "selectedItemAdditionalProperties[field].optionList"
                    [selectedItems] = "activeNodeDataDetails[selectedItemAdditionalProperties[field].keyToUseToStoreValue]"
                    [multiSelect] = "selectedItemAdditionalProperties[field].multiple"
                    (valueChanged) = "storeAdditionalProperty($event,selectedItemAdditionalProperties[field].keyToUseToStoreValue)"
                    [placeHolder] = "selectedItemAdditionalProperties[field].placeHolder"
                ></app-select-dropdown>
            </div>
    
          </ng-container>
        </div>
        <hr />
        <div class="d-flex justify-content-end align-items-center mt-3 position-absolute">
            <app-button (klick)="setPropertyValueToNode()" [class]="'primary'"> Save Properties </app-button>
        </div>
    </div>
</app-modal>

<div class="right-panel" [ngClass]="rightPanelClass" id="rightPanel">
    <div class="right-panel-content">
        <div class="row nodeProperties">
            <div class="col-md-12"> <h4>Properties</h4> </div>
            <div *ngFor="let field of objectKeys(selectedItemAdditionalProperties)" class="col-md-12 mt-3">
              <ng-container [ngSwitch]="selectedItemAdditionalProperties[field].type">
        
                <!-- Input Box for String/Int -->
                <div *ngSwitchCase="'string'" >
                    <app-input
                        [label]="selectedItemAdditionalProperties[field].placeHolder"
                        [value]="activeNodeDataDetails[selectedItemAdditionalProperties[field].keyToUseToStoreValue]"
                        (valueChange)="storeAdditionalProperty($event,selectedItemAdditionalProperties[field].keyToUseToStoreValue)"
                        ></app-input>
                </div>
        
                <!-- Dropdown Box -->
                <div *ngSwitchCase="'dropdown'">
                    <app-select-dropdown
                        [dropdownList] = "selectedItemAdditionalProperties[field].optionList"
                        [selectedItems] = "activeNodeDataDetails[selectedItemAdditionalProperties[field].keyToUseToStoreValue]"
                        [multiSelect] = "true"
                        (valueChanged) = "storeAdditionalProperty($event,selectedItemAdditionalProperties[field].keyToUseToStoreValue)"
                        [placeHolder] = "selectedItemAdditionalProperties[field].placeHolder"
                    ></app-select-dropdown>
                </div>
        
              </ng-container>
            </div>
            <div class="d-flex justify-content-end align-items-center mt-3 position-absolute">
                <app-button (klick)="setPropertyValueToNode()" [class]="'primary'"> Save Properties </app-button>
            </div>
        </div>
    </div>
</div>
<div id="overlay" class="overlay" [ngClass]="rightPanelClass"></div>