<div class="body-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="flex-shrink-0 bg-white">
                    <ul class="list-unstyled ps-0">
                        <li class="mb-1" *ngFor="let componentType of objectKeys(components)">
                            <button class="btn btn-primary btn-toggle align-items-center rounded collapsed" (click)="toggleClass($event)" data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#' + componentType + '-collapse'" aria-expanded="false" [attr.aria-controls]="'#' + componentType + '-collapse'">
                                {{componentType}}<span class="caret"></span>
                            </button>
                            <div class="collapse" id="{{componentType}}---collapse" >
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small list-group">
                                    <li *ngFor="let elem of components[componentType]" class="list-group-item">
                                        <a href="javascript:void(0)" class="link-dark rounded" class="drag-drawflow" draggable="true" (dragstart)="drag($event)" [attr.data-name]="elem.name" [attr.data-id]="elem.id" [attr.data-type]="componentType">{{ elem.name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-drawflow">
                <div id="drawflow" class="drawflow" (drop)="drop($event)" (dragover)="allowDrop($event)"></div>
                <div class="row button-container">
                    <div class="col d-flex justify-content-end mt-3">
                        <div class="me-2">
                            <app-button (klick)="backToProjectList()"> Cancel </app-button>
                        </div>
                        
                        <div>
                            <app-button (klick)="export()"> Save </app-button>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<app-modal *ngIf="1==1" [(view)]="showModal" [header]="'Set Module Properties'"
  [styles]="{ 'width': '70%', height : '500px'}" >

    <div class="row">
        <div *ngFor="let field of objectKeys(selectedItemAdditionalProperties)" class="col-md-6 mt-3">
          <ng-container [ngSwitch]="selectedItemAdditionalProperties[field].type">
    
            <!-- Input Box for String/Int -->
            <div *ngSwitchCase="'string'" >
                <app-input
                    [label]="selectedItemAdditionalProperties[field].placeHolder"></app-input>
            </div>
    
            <!-- Dropdown Box -->
            <div *ngSwitchCase="'dropdown'">
                <app-select-dropdown
                    [dropdownList] = "selectedItemAdditionalProperties[field].optionList"
                    [selectedItems] = 'selectedItems'
                    [multiSelect] = "selectedItemAdditionalProperties[field].multiple"
                    (valueChanged) = "itemSelcted($event)"
                    [placeHolder] = "selectedItemAdditionalProperties[field].placeHolder"
                ></app-select-dropdown>
            </div>
    
          </ng-container>
        </div>
    </div>
</app-modal>