<div class="d-flex flex-column h-100 w-100">
  <app-loading></app-loading>
  <app-message-box></app-message-box>
  <app-toast-box></app-toast-box>
  <ng-container *ngIf="router.url !== '/login' && router.url !== '/'">
    <div class="header" >
      <app-header></app-header>
    </div>
    <div class="pageContainer py-3">
      <div class="h-100 w-100 ">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="footer" style="height: 35px;">
      <app-footer></app-footer>
    </div>
  </ng-container>

  <ng-container *ngIf="router.url == '/login' || router.url == '/'">
    <div class="h-100 w-100">
      <router-outlet></router-outlet>
    </div>
  </ng-container>

</div>