// body {
//   font-family: 'BoschSans' !important;
//   height: 100vh;
//   width: 100vw ;
// }

.hidden {
  display: none;
}

.pageContainer {
  height: calc(100vh - 100px - 35px);
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

