<div class="body-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h6 class="fw-bold">Module Extension</h6>
                <p>
                    Expand your machine learning project by creating custom modules designed to fit your workflow.
                    Easily set up custom sources, sinks, algorithms, and accumulators to enhance data processing and
                    analysisThis flexible extension allows you to integrate unique functionalities, ensuring your
                    project is equipped to handle specific requirements and maximize performance.
                </p>
            </div>
            <div class="col-md-3">
                <div class="side-menu">
                    <ul>
                        <li class="sideBarMenu p-3 " [ngClass]="activeTab == 'custom-source'?'activeClass':''" [class.active]="activeTab === 'custom-source'" (click)="setActiveTab('custom-source')">
                            Create your Custom Source
                        </li>
                        <li class="sideBarMenu p-3" [ngClass]="activeTab == 'custom-algorithm'?'activeClass':''"  [class.active]="activeTab === 'custom-algorithm'"
                            (click)="setActiveTab('custom-algorithm')">
                            Create your Custom Algorithm

                        </li>
                        <li class="sideBarMenu p-3" [ngClass]="activeTab == 'custom-sink'?'activeClass':''"  [class.active]="activeTab === 'custom-sink'" (click)="setActiveTab('custom-sink')">
                            Create your Custom Sink

                        </li>
                        <li class="sideBarMenu p-3" [ngClass]="activeTab == 'custom-accumulator'?'activeClass':''"  [class.active]="activeTab === 'custom-accumulator'"
                            (click)="setActiveTab('custom-accumulator')">
                            Create your Custom Accumulator
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-md-9">
                <app-child-module-extension [content]="contentData"></app-child-module-extension>
                <!-- <div class="right-content">
                    <div class="top-right-search">
                        <div class="page-heading">
                            Available Custom Sources
                        </div>
                        <div class="search-bar">
                            <input type="text" class="search-input">
                            <button class="btn-search">
                                <img width="20" src="../../../assets//search-icon.svg" alt="">
                            </button>
                        </div>
                        <button class="btn-main" data-bs-toggle="modal" data-bs-target="#createModal">
                            <img width="20" src="../../../assets//plus-icon.svg" alt="">
                            Create Custom Source
                        </button>
                    </div>
                    <div class="custom-source-box">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="sourse-card">
                                    <div class="s-card-hrader">
                                        <div class="s-card-title">
                                            <h6 class="m-0">Data Ingestion Hub</h6>
                                        </div>
                                        <div class="s-card-action">
                                            <ul>
                                                <li>
                                                    
                                                        <img width="16" src="../../../assets//edit-icon.svg">
                                                    
                                                </li>
                                                <li>
                                                    
                                                        <img width="16" src="../../../assets//delete-icon.svg">
                                                    
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="s-card-body">
                                        <p>
                                            Easily define and manage various data sources for your machine learning projects.
                                        </p>
                                        <div class="s-card-labels">
                                            <ul>
                                                <li>
                                                    Database
                                                </li>
                                                <li>
                                                    CSV
                                                </li>
                                                <li>
                                                    Data
                                                </li>
                                                <li>
                                                    +3
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="sourse-card">
                                    <div class="s-card-hrader">
                                        <div class="s-card-title">
                                            <h6 class="m-0">Data Ingestion Hub</h6>
                                        </div>
                                        <div class="s-card-action">
                                            <ul>
                                                <li>
                                                    
                                                        <img width="16" src="../../../assets//edit-icon.svg">
                                                    
                                                </li>
                                                <li>
                                                    
                                                        <img width="16" src="../../../assets//delete-icon.svg">
                                                    
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="s-card-body">
                                        <p>
                                            Easily define and manage various data sources for your machine learning projects.
                                        </p>
                                        <div class="s-card-labels">
                                            <ul>
                                                <li>
                                                    Database
                                                </li>
                                                <li>
                                                    CSV
                                                </li>
                                                <li>
                                                    Data
                                                </li>
                                                <li>
                                                    +3
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="sourse-card">
                                    <div class="s-card-hrader">
                                        <div class="s-card-title">
                                            <h6 class="m-0">Data Ingestion Hub</h6>
                                        </div>
                                        <div class="s-card-action">
                                            <ul>
                                                <li>
                                                    
                                                        <img width="16" src="../../../assets//edit-icon.svg">
                                                    
                                                </li>
                                                <li>
                                                    
                                                        <img width="16" src="../../../assets//delete-icon.svg">
                                                    
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="s-card-body">
                                        <p>
                                            Easily define and manage various data sources for your machine learning projects.
                                        </p>
                                        <div class="s-card-labels">
                                            <ul>
                                                <li>
                                                    Database
                                                </li>
                                                <li>
                                                    CSV
                                                </li>
                                                <li>
                                                    Data
                                                </li>
                                                <li>
                                                    +3
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="sourse-card">
                                    <div class="s-card-hrader">
                                        <div class="s-card-title">
                                            <h6 class="m-0">Data Ingestion Hub</h6>
                                        </div>
                                        <div class="s-card-action">
                                            <ul>
                                                <li>
                                                    
                                                        <img width="16" src="../../../assets//edit-icon.svg">
                                                    
                                                </li>
                                                <li>
                                                    
                                                        <img width="16" src="../../../assets//delete-icon.svg">
                                                    
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="s-card-body">
                                        <p>
                                            Easily define and manage various data sources for your machine learning projects.
                                        </p>
                                        <div class="s-card-labels">
                                            <ul>
                                                <li>
                                                    Database
                                                </li>
                                                <li>
                                                    CSV
                                                </li>
                                                <li>
                                                    Data
                                                </li>
                                                <li>
                                                    +3
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>