<div class=" d-flex flex-column h-100 w-100 px-5">
    <div class="col-md-12" style="height: 110px;">
        <h6 class="fw-bold">Module Extension</h6>
        <p>
            Expand your machine learning project by creating custom modules designed to fit your workflow.
            Easily set up custom sources, sinks, algorithms, and accumulators to enhance data processing and
            analysisThis flexible extension allows you to integrate unique functionalities, ensuring your
            project is equipped to handle specific requirements and maximize performance.
        </p>
    </div>
    <div class="flex-grow-1 scroll overflow-hidden">
        <div class="row gx-0 m-0 h-100 w-100">
            <div class="col-md-3 pe-3">
                <div class="side-menu">
                    <ul>
                        <li class="sideBarMenu p-3 " [ngClass]="activeTab == 'custom-source'?'activeClass':''"
                            [class.active]="activeTab === 'custom-source'" (click)="setActiveTab('custom-source')">
                            Create your Custom Source
                        </li>
                        <li class="sideBarMenu p-3" [ngClass]="activeTab == 'custom-algorithm'?'activeClass':''"
                            [class.active]="activeTab === 'custom-algorithm'" (click)="setActiveTab('custom-algorithm')">
                            Create your Custom Algorithm
    
                        </li>
                        <li class="sideBarMenu p-3" [ngClass]="activeTab == 'custom-sink'?'activeClass':''"
                            [class.active]="activeTab === 'custom-sink'" (click)="setActiveTab('custom-sink')">
                            Create your Custom Sink
    
                        </li>
                        <li class="sideBarMenu p-3" [ngClass]="activeTab == 'custom-accumulator'?'activeClass':''"
                            [class.active]="activeTab === 'custom-accumulator'"
                            (click)="setActiveTab('custom-accumulator')">
                            Create your Custom Accumulator
                        </li>
                    </ul>
    
                </div>
            </div>
            <div class="col-md-9 h-100">
                <!-- <app-child-module-extension [content]="contentData"></app-child-module-extension> -->
                <div class="right-content scroll h-100 overflow-hidden d-flex flex-column">
                    <div class="top-right-search">
                        <div class="page-heading">
                            Available custom source
                        </div>
                        <div class="search-bar">
                            <input type="text" class="search-input">
                            <button class="btn-search">
                                <i class="boschicon-bosch-ic-search"></i>
    
                            </button>
                        </div>
                        <button class="btn-main" (click)="funcOpenCreateCustomModal()">
                            <i class="boschicon-bosch-ic-add"></i>
                            Create Custom Source
                        </button>
                    </div>
                    <div class="custom-source-box pt-3 flex-grow-1 scroll">
                        <div class="row gx-0 m-0">
                            <div class="col-md-4 pb-3 pe-3" *ngFor="let item of customSourceData">
                                <div class="source-card border-1px-solid-black p-3">
                                    <div class="s-card-header mb-3 d-flex justify-content-between">
                                        <div class="s-card-title">
                                            <h6 class="m-0 fz-16px fw-bold text-nowrap">{{ item.title }}</h6>
                                        </div>
                                        <div class="s-card-action">
                                            <ul>
                                                <li>
                                                    <i class="boschicon-bosch-ic-edit"></i>
                                                    <!-- <img width="16" src="../../../assets/edit-icon.svg"> -->
                                                </li>
                                                <li>
                                                    <i class="boschicon-bosch-ic-delete"></i>
    
                                                    <!-- <img width="16" src="../../../assets/delete-icon.svg"> -->
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="s-card-body">
                                        <p class="descriptionText">{{ item.description }}</p>
                                        <div class="s-card-labels">
                                            <ul class="overflow-hidden">
                                                <li class="text-nowrap" *ngFor="let label of item.labels">{{ label }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal *ngIf="openCreateCustomModal" [(view)]="openCreateCustomModal" [header]="'Create Custom Source'"
    [styles]="{ width: '60vw' }">
    <div class="modal-body">
        <form>
            <div class="row gx-0 m-0">
                <div class="col mb-3 pe-3">
                    <app-input [label]="'Enter Name'" [(value)]="createCustom.name"></app-input>

                </div>
                <div class=" col mb-3">
                    <app-input [label]="'Inherited From'" [(value)]="createCustom.inherited_from"></app-input>
                </div>
            </div>

            <div class="mb-3">
                <app-textarea [label]="'Description'" [placeHolder]="'Enter Description'"
                    [(value)]="createCustom.description"></app-textarea>
            </div>
            <hr>
            <div class="mb-3">
                <label for="uploadFile" class="form-label">Upload Edited Custom Source in Python File</label>
                <a href="#" class="float-end">Download .py Template File</a>
                <app-file-upload [(fileName)]="createCustom.file_name"></app-file-upload>
            </div>
        </form>
    </div>
    <div class="modal-footer d-flex justify-content-between">
        <app-button [class]="'secondary justify-content-center'" [width]="'200px'" [fontSize]="'16px'"
            (klick)="FuncCreateCustomModalClose()">
            Cancel </app-button>
        <app-button [class]="'primary justify-content-center'" [fontSize]="'16px'">
            Open Template in Jupyter Editor</app-button>
    </div>
</app-modal>