<div class="pg-container px-5 h-100 w-100 d-flex flex-column mt-2">
    <div class="d-flex align-items-center mb-3 ps-1">
        <div class="col">
            <div class="page-title">Create New Pipeline</div>
            <p class="description-title">
                Create your new pipeline to help with your work , with the exclusive technology to progress in your working life.
                Create pipeline not only to ease your life but to contribute to humanity !!
            </p>
        </div>
    </div>

    <div class="row gx-0 m-0 flex-glow-1 scroll">
        <!-- Create New Blank Project -->
        <div class="col-md-2 projectsCard pe-3 pb-3">
            <div class="card text-center p-4 h-100">
                <div class="card-body align-items-center justify-content-center align-content-center">
                    <!-- <div class="border-round p-2 m-2 d-inline-flex justify-content-center align-items-center">
                        <a [routerLink]="['/createpipeline']">
                            <i class="bi bi-plus-lg" style="font-size: 3rem;"></i>
                        </a>
                    </div> -->
                    <i class="boschicon-bosch-ic-add-frame fz-42px"></i>

                    <span class="w-100 fz-16px">Create New Blank Pipeline</span>
                </div>
            </div>
        </div>

        <!-- Template Cards -->
        <div class="col-md-2 projectsCard pe-3 pb-3" *ngFor="let template of templates">
            <div class="card h-100">
                <div class="text-center gx-0 mx-0">
                    <div class="mb-3 content-bg">
                        <!-- Placeholder for image or content -->
                    </div>
                    <h5
                        class="card-title d-flex justify-content-start align-content-start align-items-start ps-3 py-0 my-0">
                        Template Name
                    </h5>
                    <p class="card-text d-flex justify-content-start align-content-start align-items-start ps-3 mb-3">{{
                        template.name }}</p>
                </div>
            </div>
        </div>
    </div>
</div>