$bosch-woff-font-path: "./assets/fonts/BOSCH_SANS_4_0/BOSCH_SANS_4_0/WEB/BoschSans-Regular.woff";
$bosch-woff2-font-path: "./assets/fonts/BOSCH_SANS_4_0/BOSCH_SANS_4_0/WEB/BoschSans-Regular.woff2";
$font-family-brand: 'boschsansregular';