* {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* You can add global styles to this file, and also import other style files */
//@import './bootstrap';
//@import  "../node_modules/ng-pick-datetime/assets/style/picker.min.css";
// @import "./assets/css/grid.scss";
// @import "./assets/css/button.scss";
// @import "./assets/css/form.scss";
// @import "./assets/css/flex.scss";
// @import "./assets/css/margin.scss";
// @import "./assets/css/padding.scss";
// @import "./assets/css/checkbox.scss";
// @import "./assets/css/input.scss";
// @import "./assets/css/tooltip";
// @import "./assets/css/tab";
// @import "../node_modules/simplebar/dist/simplebar.min.css";
// @import "./assets/css/mobile.scss";ts/bosch-txt/BoschSan
// @import "./assets/css/embla";

// @import "~bootstrap/dist/css/bootstrap.min.css";
// @import "~ng-pick-datetime/assets/style/picker.min.css";
@import "./assets/css/font.scss";
@import "./assets/css/icons.scss";
@import "./assets/css/tables.scss";
@import "./assets/css/reset";
@import "./assets/css/variables";
@import "../node_modules/ng-pick-datetime/assets/style/picker.min.css";
@import "./assets/css/main.scss";

.drawflow .drawflow-node {
  display: flex;
  align-items: center;
  position: absolute;
  background: #efefef !important;
  width: 16.64vw !important;
  min-height: 40px;
  border-radius: 15px !important;
  border: 2px solid #d2e3e3 !important;
  color: #504c4c;
  z-index: auto !important;
  padding: 20px !important;
  box-shadow: 10px 8px 6px -3px #bcbcbc !important;
  height: 19.71vh !important;
  cursor: default !important;
}

.drawflow .drawflow-node .output {
  right: -15px !important;
  top: 2px;
}

.drawflow .drawflow-node .input,
.drawflow .drawflow-node .output {
  position: relative;
  width: 11px !important;
  height: 10px !important;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #a3afaf !important;
  cursor: crosshair;
  z-index: 1;
  margin-bottom: 5px;
}

// .drawflow .drawflow-node .input {
//   left: -30px !important;
//   top: 2px;
//   background: #fff;
// }

.offcanvas-body {
  padding: 1.5em !important;
  overflow-y: hidden !important;
}

.drawflow .drawflow-node .input {
  left: -30px !important;
  top: 2px;
  /* background: #ff0; */
  background: #fff;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: unset !important;
}

// html, body {
//   margin: 0;
//   padding: 0;
//   font-size: 1vw;
// }
.fz-10px{
  font-size: 10px;
}
.fz-12px{
  font-size: 12px;
}
.fz-30px {
  font-size: 30px;
}

.fz-42px {
  font-size: 30px;
}

.fw-bold {
  font-weight: bold;
}

.c-white {
  color: white;
}

.w-200px {
  width: 200px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.border-dashed {
  border: 2px dashed #ddd;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.card-text {
  color: #888;
}


/* font size */
.fz-16px{
  font-size: 16px;
}
.fz-24px{
  font-size: 24px;
}
.fz-30px{
  font-size: 30px;
}
.fz-42px{
  font-size: 42px;
}
.fz-45px{
  font-size: 45px;
}
.fz-1rem{
  font-size: 1rem;
}
.fz-1-5rem{
  font-size: 1.5rem;
}

/* font style */

.fw-bold{
  font-weight: bold;
}

/* color  */

.c-white{
  color: white;
}

/* width  */

.w-200px{
  width: 200px;
}

.w-50vw{
  width: 50vw
}

.w-100vw{
  width: 100vw;
}


/* height  */

.h-100vh{
  height: 100vh;
}


// cursor

.cursor-pointer{
  cursor: pointer;
}

.border-1px-solid-black{
  border: 1px solid black;
}

.text-nowrap{
  text-wrap: nowrap;
}

.overflow-hidden{
  overflow: hidden;
}
.opacity-50per{
  opacity: 50%;
}