@import "../../../assets/css/variables";



.checkboxLabel {
  font: normal normal normal 0.75rem/0.938rem "bosch-Regular";
  text-align: center;
  margin-bottom: 0.5rem;
}

.checkbox {
  width: 1.1rem;
  height: 1.1rem;
  background: $dark-grey;
  color: $radio;
//   display: inline-block;
  border-bottom: 1px solid $dark-grey;
  margin: 0 auto;
  margin-right: 10px;
  font-weight: 300 !important;
  cursor: pointer;

  i {
    color: $dark-grey;
    font-size: 1.1rem;
  }

  &.active {
    background: $primary-blue;
    border-bottom: 1px solid $dark-grey;

    i {
      color: $white;
    }
  }

  &.analysis {
    margin-right: 20px;
  }

  &.multiTree {
    width: 0.9rem;
    height: 0.9rem;

    i {
      font-size: 1rem;
    }
  }
}

.alert-form {
  display: inline !important;
}

@media only screen and (max-width:767px) {
  .customClass {
    .checkbox {
      width: 2rem !important;
      height: 2em !important;

      i {
        font-size: 1.8rem !important;
      }
    }
  }
}