<div class="input-container">
    <span class="fz-12px opacity-50per">{{label}}
      <span *ngIf="required" class="required-asterisk">*</span>
    </span>
    <div class="tag-container">
      <div *ngFor="let tag of value; let i = index" class="tag-item">
        {{ tag }}
        <span class="remove-tag" (click)="removeTag(i)">
            <i class="boschicon-bosch-ic-delete"></i>
        </span>
      </div>
      <input
        [placeholder]="placeHolder"
        [disabled]="disabled"
        [(ngModel)]="inputValue"
        
        (keydown)="onKeydown($event)"
        (ngModelChange)="updateInputValue()"
      />
      <!-- (keydown.enter)="addTag()" -->
    </div>
  </div>
  